/* ----- COLOURS ----------------------- */

$facebook: #3b5998;
$youtube: #ff0000;
$twitter: #1da1f2;

$white: #ffffff;
$red: #cc3300;
$parchment: rgb(255, 255, 204);
$ink: rgb(53, 46, 38);
$leather: rgb(170, 89, 34);
$gold: rgb(255,215,0);
$bluegrey: rgb(218, 200, 184);

.cover {
    background-color: $leather;
}

.page {
    background-color: $parchment;
    color: $ink;
}

.warning {
    color: $red !important;
}

/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }
  */