/* ----- COLOURS ----------------------- */
@import url("https://fonts.googleapis.com/css?family=Bad+Script|Raleway");
.cover {
  background-color: #aa5922;
}

.page {
  background-color: #ffffcc;
  color: #352e26;
}

.warning {
  color: #cc3300 !important;
}

/* ----- BUTTONS -------------------- */
.browse-button {
  color: #352e26;
  background-color: #ffffcc;
  border-style: none;
  font-size: 20px;
}

.browse-button:hover {
  background-color: #ffff99;
}

a {
  text-decoration: none;
  font-family: Raleway, sans-serif;
}

a:hover {
  text-decoration: none;
}

a {
  color: #352e26;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #1da1f2;
}

.youtube {
  background-color: #ff0000;
}

.social-link {
  color: #ffffff;
}

.email {
  background-color: gold;
}

.icon-link-align {
  margin-top: 10px;
  margin-right: 10px;
}

/* ----- SPACING AND ALIGNMENT --------------- */
.center {
  display: block;
  text-align: center;
}

.tab {
  border: 1px solid #bbae9f;
}

.padding-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-l-10 {
  padding-left: 10px;
}

.inline {
  display: inline;
}

.spacer {
  min-height: 75vh;
}

/* ----- TITLES, HEADINGS AND TEXT ---------------------------- */
.page-title {
  font-family: 'Bad Script', cursive;
}

.browse-button, h1, h2, h3, h4, h5, h6, label, button, .recipe-title, .recipe-text, span, p, ::-webkit-input-placeholder, input[type=submit] {
  font-family: 'Raleway', sans-serif;
}

.browse-button, h1, h2, h3, h4, h5, h6, label, button, .recipe-title, .recipe-text, span, p, :-ms-input-placeholder, input[type=submit] {
  font-family: 'Raleway', sans-serif;
}

.browse-button, h1, h2, h3, h4, h5, h6, label, button, .recipe-title, .recipe-text, span, p, ::-ms-input-placeholder, input[type=submit] {
  font-family: 'Raleway', sans-serif;
}

.browse-button, h1, h2, h3, h4, h5, h6, label, button, .recipe-title, .recipe-text, span, p, ::placeholder, input[type=submit] {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, label, button {
  text-transform: capitalize;
}

.recipe-title {
  font-size: 30px;
  text-transform: capitalize;
}

.recipe-text {
  font-size: 20px;
}

.gold {
  color: gold;
}

p {
  margin-top: 10px;
}

::-webkit-input-placeholder {
  color: #352e26;
}

:-ms-input-placeholder {
  color: #352e26;
}

::-ms-input-placeholder {
  color: #352e26;
}

::placeholder {
  color: #352e26;
}

.title-case {
  text-transform: capitalize;
}

.icon {
  font-size: 10px;
}

.sentence-case {
  text-transform: lowercase;
}

.sentence-case:first-letter {
  text-transform: capitalize;
}

.inline {
  display: inline;
}

/* ----- FORM ELEMENTS --------------- */
.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 3px;
  background: white;
  outline: none;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  opacity: 0.7;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: gold;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: gold;
  cursor: pointer;
}

label {
  color: #352e26;
  margin-bottom: 0px;
}

input[type=submit] {
  color: #352e26;
  background-color: #ffffcc;
}

.text-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #352e26;
  background-color: #ffffcc;
}

.input {
  width: 80%;
}

@media (min-width: 600px) and (max-width: 767px) {
  .input {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .input {
    width: 80%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .input {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .input {
    width: 50%;
  }
}

.full-input {
  width: 100%;
}

@media (min-width: 600px) and (max-width: 767px) {
  .full-input {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .full-input {
    width: 80%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .full-input {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .full-input {
    width: 50%;
  }
}

.no-border {
  border: none;
}

.navbar {
  margin-bottom: 0;
  border: none;
  min-height: 70px;
}

.navbar-nav {
  padding-top: 10px;
}

.navbar-toggle {
  margin-top: 18px;
}

.navbar-default .navbar-brand {
  color: #352e26;
}

.navbar-default .navbar-toggle {
  border-color: gold;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #d56f2b;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: gold;
}

.navbar-default .navbar-nav > li > a {
  color: #352e26;
}

.navbar-collapse {
  border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

/*----- ADMIN AREA ACCORDIAN ----------------------------*/
.accordian-authorisation {
  display: block;
}

.accordian-users {
  display: none;
}

.accordian-recipes {
  display: none;
}

.alpha-fade {
  opacity: 0.5;
}

.top-bottom-margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

.user-image-small {
  display: block;
  width: auto;
  height: auto;
  max-width: 95px;
}

@media (min-width: 600px) and (max-width: 767px) {
  .user-image-small {
    max-width: 150px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .user-image-small {
    max-width: 200px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .user-image-small {
    max-width: 200px;
  }
}

@media (min-width: 1200px) {
  .user-image-small {
    max-width: 200px;
  }
}

.user-image {
  display: block;
  max-width: 190px;
  width: auto;
  height: auto;
}

@media (min-width: 600px) and (max-width: 767px) {
  .user-image {
    max-width: 220px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .user-image {
    max-width: 300px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .user-image {
    max-width: 400px;
  }
}

@media (min-width: 1200px) {
  .user-image {
    max-width: 500px;
  }
}

.browse-image {
  display: block;
  max-height: 190px;
  width: auto;
  height: auto;
}

@media (min-width: 600px) and (max-width: 767px) {
  .browse-image {
    max-height: 200px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .browse-image {
    max-height: 250px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .browse-image {
    max-height: 300px;
  }
}

@media (min-width: 1200px) {
  .browse-image {
    max-height: 350px;
  }
}

.no-dot {
  list-style-type: none;
}

.cards {
  position: relative;
  height: auto;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.card {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffcc;
  color: #352e26;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.top {
  opacity: 1;
  z-index: 2;
}
/*# sourceMappingURL=main.css.map */