.alpha-fade {
    opacity: 0.5;
}

.top-voted {
    margin-top: 50px;
    margin-bottom: 50px;
}

.user-image-small {
    display: block;
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.user-image {
    display: block;
    max-width:500px;
    max-height:350px;
    width: auto;
    height: auto;
}