.alpha-fade {
    opacity: 0.5;
}

.top-bottom-margin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.user-image-small {
    display: block;
    width: auto;
    height: auto;
    max-width: 95px;
    
    @include large-phone {
        max-width: 190px;
    }
    @include tablet {
        max-width: 200px;
    }
    @include desktop {
        max-width: 200px;
    }
    @include large-desktop {
        max-width: 200px;
    }
}

.user-image {
    display: block;
    max-width:500px;
    max-height:350px;
    width: auto;
    height: auto;
}