.alpha-fade {
    opacity: 0.5;
}

.top-bottom-margin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.user-image-small {
    display: block;
    width: auto;
    height: auto;
    max-width: 95px;
    
    @include large-phone {
        max-width: 150px;
    }
    @include tablet {
        max-width: 200px;
    }
    @include desktop {
        max-width: 200px;
    }
    @include large-desktop {
        max-width: 200px;
    }
}

.user-image {
    display: block;
    max-width:190px;
    width: auto;
    height: auto;

    @include large-phone {
        max-width: 220px;
    }
    @include tablet {
        max-width: 300px;
    }
    @include desktop {
        max-width: 400px;
    }
    @include large-desktop {
        max-width: 500px;
    }
}

.browse-image {
    display: block;
    max-height:190px;
    width: auto;
    height: auto;

    @include large-phone {
        max-height: 200px;
    }
    @include tablet {
        max-height: 250px;
    }
    @include desktop {
        max-height: 300px;
    }
    @include large-desktop {
        max-height: 350px;
    }
}