/* ----- TITLES, HEADINGS AND TEXT ---------------------------- */

@import url('https://fonts.googleapis.com/css?family=Bad+Script|Raleway');

%title-font {
    font-family: 'Bad Script', cursive;
}

%body-font {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, label, button {
    @extend %body-font;
    text-transform: capitalize;
}

h1 {
    font-size: 9vw;
    @include large-phone {
        font-size: 9vw;
        }
        @include tablet {
            font-size: 7vw;
        }
        @include desktop {
            font-size: 5vw;
        }
        @include large-desktop {
            font-size: 5vw;
        }
}

h2 {
    font-size: 78vw;
    @include large-phone {
        font-size: 7vw;
        }
        @include tablet {
            font-size: 5vw;
        }
        @include desktop {
            font-size: 4vw;
        }
        @include large-desktop {
            font-size: 4vw;
        }
}

h3 {
    font-size: 6vw;
    @include large-phone {
        font-size: 6vw;
        }
        @include tablet {
            font-size: 4vw;
        }
        @include desktop {
            font-size: 3vw;
        }
        @include large-desktop {
            font-size: 3vw;
        }
}

h4 {
    font-size: 5vw;
    @include large-phone {
        font-size: 5vw;
        }
        @include tablet {
            font-size: 3vw;
        }
        @include desktop {
            font-size: 2vw;
        }
        @include large-desktop {
            font-size: 2vw;
        }
}

.page-title {
    @extend %title-font;
}

.recipe-title {
    @extend %body-font;
    font-size: 7vw;
    text-transform: capitalize;
    @include large-phone {
        font-size: 7vw;
        }
        @include tablet {
            font-size: 5vw;
        }
        @include desktop {
            font-size: 4vw;
        }
        @include large-desktop {
            font-size: 4vw;
        }
}

.recipe-text {
    @extend %body-font;
    font-size: 20px;
    
}

.gold {
    color: $gold;
}

span, p {
    @extend %body-font;
}

p {
    margin-top: 10px;
    font-size: 5vw;
    @include large-phone {
        font-size: 4vw;
        }
        @include tablet {
            font-size: 2vw;
        }
        @include desktop {
            font-size: 2vw;
        }
        @include large-desktop {
            font-size: 1.5vw;
        }
}

::placeholder {
    @extend %body-font;
    color: $ink;
}

.title-case {
    text-transform: capitalize;
}

.icon {
    font-size: 10px;
}

.sentence-case {
    text-transform: lowercase;
  
        &:first-letter {
            text-transform: capitalize;
        }
}

.inline {
    display: inline;
}