{% extends 'base.html' %} 
{% block content %}

<div class="row">
    <div class="col-xs-12">
        <h2 class="gold">Browse Recipes</h2>
    </div>
</div>

<div class="row  page  spacer">
    <div class="col-xs-12">
        <ul id="cards" class="cards">
        
            {% for recipe in recipes %}
                {% if loop.index == 1 %}
                
                    <li class="card  top">
                        <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                            <h3 class="recipe-title">{{ recipe.recipe }}
                            
                            {% if g.user %}
                                {% for votes in user.voted %}
                                    {% if votes == recipe._id | string %}
                                        
                                        <i class="far fa-thumbs-up  pull-right  padding-10"></i>
                                    
                                    {% endif %}
                                {% endfor %}
                                {% for faves in user.favourites%}
                                    {% if faves == recipe._id | string %}
                                    
                                        <i class="fas fa-star  pull-right  padding-10"></i>
                                    
                                    {% endif %}
                                {%endfor%}
                            {% endif %}
                            
                            </h3>
                        </a>
                        <p class="recipe-text  sentence-case  padding-20">{{ recipe.summary }}</p>
                        
                        {% if recipe.url %}

                            <img src="{{ recipe.url }}" alt="{{ recipe.recipe | title }}" class="img-responsive  center-block  padding-10  user-image-small">

                        {% else %}

                            <img src="../static/images/defaultSmall.png" alt="{{ recipe.recipe | title}}" class="img-responsive  center-block  padding-10">

                        {% endif %}

                    </li>
                
                {% else %}
                
                    <li class="card">
                        <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                            <h3 class="recipe-title">{{ recipe.recipe }}
                            
                            {% if g.user %}
                                {% for votes in user.voted %}
                                    {% if votes == recipe._id | string %}
                                        
                                        <i class="far fa-thumbs-up  pull-right  padding-10"></i>
                                    
                                    {% endif %}
                                {% endfor %}
                                {% for faves in user.favourites%}
                                    {% if faves == recipe._id | string %}
                                    
                                        <i class="fas fa-star  pull-right  padding-10"></i>
                                    
                                    {% endif %}
                                {%endfor%}
                            {% endif %}
                            
                            </h3>
                        </a>
                        <p class="recipe-text  sentence-case  padding-20">{{ recipe.summary }}</p>

                        {% if recipe.url %}

                            <img src="{{ recipe.url }}" alt="{{ recipe.recipe | title }}" class="img-responsive  center-block  padding-10  user-image-small">

                        {% else %}

                            <img src="../static/images/defaultSmall.png" alt="{{ recipe.recipe | title}}" class="img-responsive  center-block  padding-10">

                        {% endif %}

                    </li>
                
                {%  endif%}
            
            
            {% endfor %}
        
        </ul>
    </div>
</div>

<div class="row  page  padding-20">
    <div class="col-xs-6">
        <button class="browse-button" id="previous">Previous</button>
    </div>
    <div class="col-xs-6">
        <button class="browse-button  pull-right" id="next">Next</button>
    </div>
</div>

<script type="text/javascript" src="../static/js/recipeCard.js"></script>

{% endblock %}