{% extends 'base.html' %}
{% block content %}

<div class="row  cover">
    <div class="col-xs-12">
    
    {% if g.user %}
    
        <h2>Hi {{ g.user }} what shall we cook today?</h2>
    
    {% endif %}
    
    </div>
</div>

{% for vote in votes %}
{% if loop.index == 1 %}

<div class="row">
    <div class="col-xs-12  col-md-7">
        <a href="{{ url_for('recipe', recipe_id=vote._id) }}">
            
            {% if vote.url %}
            
            <img src="{{ vote.url }}" alt="{{ vote.recipe | title}}" class="img-responsive  center-block  top-bottom-margin  user-image">
            <h4 class="text-center  gold">{{ vote.recipe | title }}</h4>
            
            {% else %}
            
            <img src="../static/images/default.png" alt="{{ vote.recipe | title}}" class="img-responsive  center-block  alpha-fade  top-bottom-margin">
            <h4 class="text-center  gold  padding-bottom-20">{{ vote.recipe | title }}</h4>
            
            {% endif %}
            
        </a> 
    </div>

    
{% else %}

    <div class="col-xs-4  col-md-5">
        <a href="{{ url_for('recipe', recipe_id=vote._id) }}">
            {% if vote.url %}
            
            <img src="{{ vote.url }}" alt="{{ vote.recipe | title}}" class="img-responsive  center-block  user-image-small">
            <h4 class="text-center  gold">{{ vote.recipe | title }}</h4>
            
            {% else %}
            
            <img src="../static/images/defaultSmall.png" alt="{{ vote.recipe | title}}" class="img-responsive  center-block  alpha-fade">
            <h4 class="text-center  gold">{{ vote.recipe | title }}</h4>
            
            {% endif %}
        </a>
    </div>
    
{% endif %}
{% endfor %}

</div>

{% endblock %}