{% extends 'base.html' %}
{% block content %}

<div class="row  cover">
    <div class="col-xs-12">
        <h2 class="gold">Notes</h2>
    </div>
</div>

<div class="row  page  spacer">
    
    {% for note in notes %}
    
        <div class="col-xs-offset-1  col-xs-11">
            
            {% for ids in note.notes.id %}
        
                <a href="{{ url_for('recipe', recipe_id=ids) }}">
            
            {% endfor %}
            {% for cont in note.notes.content %}

                <p class="sentence-case">  {{ cont | join }}</p>

            {% endfor %}

        </div>
        
    {% endfor %}

</div>

{% endblock %}